*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}





    .int3_br{
      display: none;
    }

    
/*데탑*/
@media screen and (max-width:1440px) {

 
  #intro .intro_wrap .int_left .int_txt {
    padding: 7%;

  }

  .int3_br{
    display: block;
  }
}



/*노트북*/
  @media screen and (max-width:1024px) {



    #intro {
      background: radial-gradient(78.5% 71.1% at 52.42% 71.1%, #1C929A 0%, #0D141A 31.42%);
    }
    #intro::after {
      left: 5%;
      bottom: -10%;
    }
    #intro .intro_wrap {
      flex-direction: column;
    }
    #intro .intro_wrap .int_left {
      width: 58%;
      margin-bottom: 10%;
    }
    #intro .intro_wrap .int_right {
      width: 70%;
      justify-content: center;
    }


}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {

      #intro .intro_wrap .int_left {
        width: 78%;
      }
}



/*모바일*/

@media screen and (max-width:767px) {

  #intro::after {
    bottom: -20%;
  }
  #intro .intro_wrap .int_left {
    width: 100%;
  }
  #intro .intro_wrap .int_left .int_txt {
    padding: 5%;
  }
  #intro .intro_wrap .int_right {
    width: 90%;
  }


  .int3_br{
    display: none;
  }

  .home_txt br{
    display: none;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {


  #intro .intro_wrap .int_left {
    width: 90%;
  }
  #intro .intro_wrap .int_left .int_txt p br {
    display: none;
  }
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    .int3_left_box{
      height: 160px;
    }

    .int3_left_box::after{
      top: -10%;
    }


}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}

